<div class="single-order-container">
  <div class="order-general-info">
    <p>{{order.orderDate}}</p>
    <p>{{order.totalAmount}}€</p>
  </div>
  <div *ngFor="let orderItem of order.orderItems" class="order-list-item">
    <div class="product-container">
      <div class="image-container">
        <img [src]="orderItem.product!.imageUrl" alt=""
             class="shopping-cart-list-item-img">
      </div>
      <div class="text-container"><p>{{orderItem.product!.name}}</p></div>
    </div>
    <p class="product-price">{{orderItem.product!.price}}€</p>
    <div class="shopping-cart-quantity-container">
      <span>{{orderItem.quantity}}</span>
    </div>
  </div>
</div>

