<div class="shopping-cart-list">

  <div class="shopping-cart-list-item">
    <div class="product-container">
      <div class="image-container">
        <img alt="" class="shopping-cart-list-item-img"
             src="https://images.unsplash.com/photo-1581539250439-c96689b516dd?auto=format&fit=crop&q=60&w=800&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8Y2hhaXJ8ZW58MHx8MHx8fDA%3D">
      </div>
      <div class="text-container"><p>hdoahsidhsaidhasidhasidhasidhsaihidaisdasi</p></div>
    </div>
    <p class="product-price">99.99€</p>
    <div class="shopping-cart-quantity-container">
      <mat-icon class="icon-remove">remove</mat-icon>
      <span>3</span>
      <mat-icon class="icon-add">add</mat-icon>
    </div>
    <button class="btn-remove">
      <mat-icon class="icon-close">close</mat-icon>
    </button>
  </div>
  <div class="shopping-cart-list-item">
    <div class="product-container">
      <div class="image-container">
        <img alt="" class="shopping-cart-list-item-img"
             src="https://images.unsplash.com/photo-1581539250439-c96689b516dd?auto=format&fit=crop&q=60&w=800&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8Y2hhaXJ8ZW58MHx8MHx8fDA%3D">
      </div>
      <div class="text-container"><p>hdoahsidhsaidhasidhasidhasidhsaihidaisdasi</p></div>
    </div>
    <p class="product-price">99.99€</p>
    <div class="shopping-cart-quantity-container">
      <mat-icon class="icon-remove">remove</mat-icon>
      <span>3</span>
      <mat-icon class="icon-add">add</mat-icon>
    </div>
    <button class="btn-remove">
      <mat-icon class="icon-close">close</mat-icon>
    </button>
  </div>
  <div class="shopping-cart-list-item">
    <div class="product-container">
      <div class="image-container">
        <img alt="" class="shopping-cart-list-item-img"
             src="https://images.unsplash.com/photo-1581539250439-c96689b516dd?auto=format&fit=crop&q=60&w=800&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8Y2hhaXJ8ZW58MHx8MHx8fDA%3D">
      </div>
      <div class="text-container"><p>hdoahsidhsaidhasidhasidhasidhsaihidaisdasi</p></div>
    </div>
    <p class="product-price">99.99€</p>
    <div class="shopping-cart-quantity-container">
      <mat-icon class="icon-remove">remove</mat-icon>
      <span>3</span>
      <mat-icon class="icon-add">add</mat-icon>
    </div>
    <button class="btn-remove">
      <mat-icon class="icon-close">close</mat-icon>
    </button>
  </div>
  <div class="shopping-cart-list-item">
    <div class="product-container">
      <div class="image-container">
        <img alt="" class="shopping-cart-list-item-img"
             src="https://images.unsplash.com/photo-1581539250439-c96689b516dd?auto=format&fit=crop&q=60&w=800&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8Y2hhaXJ8ZW58MHx8MHx8fDA%3D">
      </div>
      <div class="text-container"><p>hdoahsidhsaidhasidhasidhasidhsaihidaisdasi</p></div>
    </div>
    <p class="product-price">99.99€</p>
    <div class="shopping-cart-quantity-container">
      <mat-icon class="icon-remove">remove</mat-icon>
      <span>3</span>
      <mat-icon class="icon-add">add</mat-icon>
    </div>
    <button class="btn-remove">
      <mat-icon class="icon-close">close</mat-icon>
    </button>
  </div>
  <div class="shopping-cart-list-item">
    <div class="product-container">
      <div class="image-container">
        <img alt="" class="shopping-cart-list-item-img"
             src="https://images.unsplash.com/photo-1581539250439-c96689b516dd?auto=format&fit=crop&q=60&w=800&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8Y2hhaXJ8ZW58MHx8MHx8fDA%3D">
      </div>
      <div class="text-container"><p>hdoahsidhsaidhasidhasidhasidhsaihidaisdasi</p></div>
    </div>
    <p class="product-price">99.99€</p>
    <div class="shopping-cart-quantity-container">
      <mat-icon class="icon-remove">remove</mat-icon>
      <span>3</span>
      <mat-icon class="icon-add">add</mat-icon>
    </div>
    <button class="btn-remove">
      <mat-icon class="icon-close">close</mat-icon>
    </button>
  </div>
  <div class="shopping-cart-list-item">
    <div class="product-container">
      <div class="image-container">
        <img alt="" class="shopping-cart-list-item-img"
             src="https://images.unsplash.com/photo-1581539250439-c96689b516dd?auto=format&fit=crop&q=60&w=800&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8Y2hhaXJ8ZW58MHx8MHx8fDA%3D">
      </div>
      <div class="text-container"><p>hdoahsidhsaidhasidhasidhasidhsaihidaisdasi</p></div>
    </div>
    <p class="product-price">99.99€</p>
    <div class="shopping-cart-quantity-container">
      <mat-icon class="icon-remove">remove</mat-icon>
      <span>3</span>
      <mat-icon class="icon-add">add</mat-icon>
    </div>
    <button class="btn-remove">
      <mat-icon class="icon-close">close</mat-icon>
    </button>
  </div>
  <div class="shopping-cart-list-item">
    <div class="product-container">
      <div class="image-container">
        <img alt="" class="shopping-cart-list-item-img"
             src="https://images.unsplash.com/photo-1581539250439-c96689b516dd?auto=format&fit=crop&q=60&w=800&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8Y2hhaXJ8ZW58MHx8MHx8fDA%3D">
      </div>
      <div class="text-container"><p>hdoahsidhsaidhasidhasidhasidhsaihidaisdasi</p></div>
    </div>
    <p class="product-price">99.99€</p>
    <div class="shopping-cart-quantity-container">
      <mat-icon class="icon-remove">remove</mat-icon>
      <span>3</span>
      <mat-icon class="icon-add">add</mat-icon>
    </div>
    <button class="btn-remove">
      <mat-icon class="icon-close">close</mat-icon>
    </button>
  </div>
  <div class="shopping-cart-list-item">
    <div class="product-container">
      <div class="image-container">
        <img alt="" class="shopping-cart-list-item-img"
             src="https://images.unsplash.com/photo-1581539250439-c96689b516dd?auto=format&fit=crop&q=60&w=800&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8Y2hhaXJ8ZW58MHx8MHx8fDA%3D">
      </div>
      <div class="text-container"><p>hdoahsidhsaidhasidhasidhasidhsaihidaisdasi</p></div>
    </div>
    <p class="product-price">99.99€</p>
    <div class="shopping-cart-quantity-container">
      <mat-icon class="icon-remove">remove</mat-icon>
      <span>3</span>
      <mat-icon class="icon-add">add</mat-icon>
    </div>
    <button class="btn-remove">
      <mat-icon class="icon-close">close</mat-icon>
    </button>
  </div>
  <div class="shopping-cart-list-item">
    <div class="product-container">
      <div class="image-container">
        <img alt="" class="shopping-cart-list-item-img"
             src="https://images.unsplash.com/photo-1581539250439-c96689b516dd?auto=format&fit=crop&q=60&w=800&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8Y2hhaXJ8ZW58MHx8MHx8fDA%3D">
      </div>
      <div class="text-container"><p>hdoahsidhsaidhasidhasidhasidhsaihidaisdasi</p></div>
    </div>
    <p class="product-price">99.99€</p>
    <div class="shopping-cart-quantity-container">
      <mat-icon class="icon-remove">remove</mat-icon>
      <span>3</span>
      <mat-icon class="icon-add">add</mat-icon>
    </div>
    <button class="btn-remove">
      <mat-icon class="icon-close">close</mat-icon>
    </button>
  </div>
  <div class="shopping-cart-list-item">
    <div class="product-container">
      <div class="image-container">
        <img alt="" class="shopping-cart-list-item-img"
             src="https://images.unsplash.com/photo-1581539250439-c96689b516dd?auto=format&fit=crop&q=60&w=800&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8Y2hhaXJ8ZW58MHx8MHx8fDA%3D">
      </div>
      <div class="text-container"><p>hdoahsidhsaidhasidhasidhasidhsaihidaisdasi</p></div>
    </div>
    <p class="product-price">99.99€</p>
    <div class="shopping-cart-quantity-container">
      <mat-icon class="icon-remove">remove</mat-icon>
      <span>3</span>
      <mat-icon class="icon-add">add</mat-icon>
    </div>
    <button class="btn-remove">
      <mat-icon class="icon-close">close</mat-icon>
    </button>
  </div>
  <div class="shopping-cart-list-item">
    <div class="product-container">
      <div class="image-container">
        <img alt="" class="shopping-cart-list-item-img"
             src="https://images.unsplash.com/photo-1581539250439-c96689b516dd?auto=format&fit=crop&q=60&w=800&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8Y2hhaXJ8ZW58MHx8MHx8fDA%3D">
      </div>
      <div class="text-container"><p>hdoahsidhsaidhasidhasidhasidhsaihidaisdasi</p></div>
    </div>
    <p class="product-price">99.99€</p>
    <div class="shopping-cart-quantity-container">
      <mat-icon class="icon-remove">remove</mat-icon>
      <span>3</span>
      <mat-icon class="icon-add">add</mat-icon>
    </div>
    <button class="btn-remove">
      <mat-icon class="icon-close">close</mat-icon>
    </button>
  </div>


</div>
