<div class="shopping-cart-summary-container">
  <div class="shopping-cart-summary-details">
    <p class="order-summary-heading">Order Summary</p>
    <ul class="shopping-cart-shipping-info-list">
      <li class="shipping-info-list-item"><p>Subtotal</p><span>{{ total | number: '1.2-2' }}€</span></li>
      <li class="shipping-info-list-item"><p>Shipping</p><span>Free</span></li>
    </ul>
    <div class="order-summary-total-container"><p>Total</p><span>{{ total | number: '1.2-2' }}€</span></div>
  </div>
  <a class="btn btn--big" href="#">Checkout</a>
</div>
