.shopping-cart-container {
  width: 130rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 70fr 30fr;
  gap: 4.8rem;
}

.shopping-cart-list {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  font-size: 1.8rem;
  font-weight: 500;
}
