<section class="category-section">
  <div class="category-item">
    <p class="category-name">Categoryname</p>
    <span class="category-amount">12</span>
  </div>
  <div class="category-item">
    <p class="category-name">Categoryname</p>
    <span class="category-amount">12</span>
  </div>
  <div class="category-item">
    <p class="category-name">Categoryname</p>
    <span class="category-amount">12</span>
  </div>
  <div class="category-item">
    <p class="category-name">Categoryname</p>
    <span class="category-amount">12</span>
  </div>
  <div class="category-item">
    <p class="category-name">Categoryname</p>
    <span class="category-amount">12</span>
  </div>
</section>
