<section class="category-container">
  <div class="category-section">
    <div
      (click)="setActiveCategory({categoryName:'Alle'})"
      [class.active]="activeCategory === 'Alle'"
      class="category-item"
    >
      <p class="category-name">Alle</p>
      <span class="category-amount">12</span>
    </div>
    <div
      (click)="setActiveCategory(category)"
      *ngFor="let category of categories"
      [class.active]="activeCategory === category.categoryName"
      class="category-item"
    >
      <p class="category-name">{{ category.categoryName }}</p>
      <span class="category-amount">12</span>
    </div>
  </div>
</section>
