.search-container {
  border-radius: 1.2rem;
  padding: 0.8rem 1.6rem;
  box-shadow: rgba(99, 99, 99, 0.2) 0 0.2rem 0.8rem 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 26rem;
  margin-bottom: 3.2rem;
}

.search-icon {
  color: #087f5b;
}

.search-bar {
  border: none;
  padding: 1rem;
  width: 18rem;
  font-size: 1.6rem;
  caret-color: #aaa;
  font-family: inherit;
}

.search-bar::placeholder {
  color: #aaa;
}

.search-bar:focus {
  outline: none;
}

.clear-icon {
  transition: all 0.3s;
  opacity: 0;
  color: #aaa;
}

.show-clear-icon {
  opacity: 1;
  cursor: pointer;
}
