/**************************/
/* HEADER */
/**************************/

.header {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.98);
  height: 7.6rem;
  padding: 0 6.4rem;
  z-index: 999;
  box-shadow: rgba(0, 0, 0, 0.1) 0 0.4rem 1.2rem;
}

.logo {
  height: 6.4rem;
}

/**************************/
/* NAVIGATION */
/**************************/

.main-nav-list {
  list-style: none;
  display: flex;
  position: relative;
  align-items: center;
  gap: 3.2rem;
}

.main-nav-link:link,
.main-nav-link:visited {
  text-decoration: none;
  position: relative;
  color: #333;
  font-weight: 500;
  font-size: 2rem;
  transition: all 0.3s;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: #087f5b;
}

.main-nav-link::before {
  content: "";
  position: absolute;
  width: 0;
  height: 0.3rem;
  bottom: -8px;
  left: 0;
  background-color: #087f5b;
  transition: all 0.3s ease;
}

.main-nav-link:hover::before {
  width: 100%;
}

.main-nav-link.nav-cart:link,
.main-nav-link.nav-cart:visited {
  padding: 1rem 2rem;
  border-color: transparent;
  border-radius: 1.2rem;
  color: #fff;
  background-color: #087f5b;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}

.main-nav-link.nav-cart:hover,
.main-nav-link.nav-cart:active {
  background-color: #099268;
}

.main-nav-link.nav-cart::before {
  display: none;
}

.cart-item-amount {
  border-radius: 50%;
  background-color: white;
  color: #087f5b;
  line-height: 30rem;
  text-align: center;
  width: 3rem;
  font-size: 1.8rem;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-logout {
  color: #087f5b;
  width: 2.4rem;
  height: 2.4rem;
  display: inline-block;
}

.btn--logout {
  display: flex;
  align-items: center;
  padding: 1rem 1.2rem;
  border-color: transparent;
  border-radius: 1.2rem;
  color: #333;
  font-weight: 500;
  font-size: 2rem;
  transition: background-color 0.3s, transform 0.1s; /* Add a transition for background color and transform */
  cursor: pointer;
  background-color: #ebebeb;
}

.btn--logout:hover {
  background-color: #d9d9d9;
}

.btn--logout:active {
  background-color: #ccc;
  transform: scale(0.95); /* Add a slight scale-down effect when the button is clicked */
}

.icon-dropdown {
  color: #087f5b !important;
}

.text-dropdown {
  font-family: inherit !important;
  color: #343a40 !important;
  font-size: 1.8rem;
}

