<header class="header">
  <a href="#">
    <img
      alt="Comfizone Logo"
      class="logo"
      src="../../../assets/img/comfizone-logo.jpeg"
    />
  </a>
  <nav class="main-nav">
    <ul class="main-nav-list">
      <li><a class="main-nav-link" routerLink="">Home</a></li>
      <li><a class="main-nav-link" routerLink="/products">Products</a></li>
      <li>
        <a class="main-nav-link nav-cart" routerLink="/shopping-cart"
        >
          <mat-icon aria-label="cart-icon" class="cart-icon"
          >shopping_cart
          </mat-icon
          >
          <span class="cart-text">Cart</span>
          <p class="cart-item-amount"><span>{{amountOfShoppingCartItems}}</span></p>
        </a>
      </li>
      <li>
        <button [matMenuTriggerFor]="menu" aria-label="user" class="btn--logout">
          <mat-icon>account_circle</mat-icon>

        </button>
        <mat-menu #menu="matMenu" class="mat-menu">
          <button class="mat-menu-item" mat-menu-item routerLink="/orders">
            <mat-icon class="icon-dropdown">shopping_basket</mat-icon>
            <span class="text-dropown">My Orders</span>
          </button>
          <button (click)="logout()" mat-menu-item>
            <mat-icon class="icon-dropdown">exit_to_app</mat-icon>
            <span class="text-dropown">Logout</span>
          </button>
        </mat-menu>

      </li>
    </ul>
  </nav>
</header>
