mat-dialog-actions {
  padding: 2rem !important;
  display: flex;
  gap: 1.2rem;
}

mat-dialog-content {
  font-family: inherit !important;
}

.btn--dialog {
  transition: background-color 0.3s, scale 0.1s;
  padding: 1.2rem;
  border: none;
  border-radius: 0.6rem;
  font-size: 1.6rem;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  color: inherit;
}

.btn--buy {
  color: #087f5b !important;
  background-color: rgba(8, 127, 91, 0.1);
}

.btn--dialog:active {
  scale: 0.95;
}

.btn--buy:hover {
  background-color: rgba(8, 127, 91, 0.2);

}


.btn--cancel {
  background-color: transparent;
}

.btn--cancel:hover {
  background-color: #e5e5e5;
}


