<section class="section-signup">
  <div class="container">
    <div class="signup-box">
      <div class="signup-text-box">
        <h2 class="signup-header">Welcome</h2>
        <form (ngSubmit)="register()" class="signup-form">
          <div [ngClass]="{'input-error': !firstNameIsValid && formSubmitted}">
            <label for="firstName">Firstname</label>
            <input (keyup)="firstNameValidator()" [(ngModel)]="userRegister.firstName" id="firstName" name="firstName"
                   placeholder="Max"
                   type="text">
            <span class="error-message">Firstname must not be empty!</span>
          </div>
          <div [ngClass]="{'input-error': !lastNameIsValid && formSubmitted}">
            <label for="lastName">Lastname</label>
            <input (keyup)="lastNameValidator()" [(ngModel)]="userRegister.lastName" id="lastName" name="lastName"
                   placeholder="Mustermann" type="text">
            <span class="error-message">Lastname must not be empty!</span>

          </div>
          <div [ngClass]="{'input-error': !emailIsValid && formSubmitted}">
            <label for="email">E-Mail</label>
            <input (keyup)="emailValidator()" [(ngModel)]="userRegister.email" id="email" name="email"
                   placeholder="max.mustermann@example.com"
                   type="email">
            <span class="error-message">{{emailErrorMessage}}</span>

          </div>
          <div [ngClass]="{'input-error': !passwordIsValid && formSubmitted}">
            <label for="password">Password</label>
            <input (keyup)="passwordValidator()" [(ngModel)]="userRegister.password" id="password" name="password"
                   placeholder="Enter your password"
                   type="password">
            <span
              class="error-message">Password must be at least 6 digits</span>

          </div>
          <button class="btn btn--big btn-signup" type="submit">Sign Up</button>
        </form>
        <div class="call-to-signup">
          <p>Already have an account?</p><span routerLink="/login">Sign In here</span>
        </div>
      </div>
      <div
        aria-label="chair"
        class="signup-img-box"
        role="img"
      ></div>
    </div>
  </div>
</section>
