.section-signup {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000 !important;
}

.signup-box {
  display: grid;
  grid-template-columns: 3fr 2fr;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.15);
  border-radius: 1.2rem;
  overflow: hidden;
}

.signup-text-box {
  padding: 2.8rem 8.6rem;
  color: #087f5b;
  text-transform: uppercase;
  letter-spacing: 0.3rem;
}

.signup-header {
  font-size: 3.2rem;
  text-align: center;
  margin-bottom: 2.8rem;
}

.signup-img-box {
  background-image: linear-gradient(
    to right bottom,
    rgba(8, 127, 91, 0.35),
    rgba(195, 142, 103, 0.35)
  ),
  url("https://images.unsplash.com/photo-1585845786337-2b2b17c55fb0?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Nzl8fGNoYWlyfGVufDB8fDB8fHww&auto=format&fit=crop&w=500&q=60");
  background-size: cover;
  background-position: center;
}

.signup-form {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.signup-form label {
  display: block;
  font-size: 1.6rem;
  font-weight: 500;
  margin-bottom: 0.8rem;
}

.signup-form input {
  width: 100%;
  padding: 1.2rem;
  font-size: 1.8rem;
  font-family: inherit;
  color: inherit;
  background-color: rgba(8, 127, 91, 0.05);
  border-radius: 0.9rem;
  border: 2px solid transparent;
}

.signup-form input::placeholder {
  color: #aaa;
}

.input-error {
  transition: all 0.3s;
  color: #ff4848;
}

.input-error input {
  border: 2px solid #ff4848;
}

.input-error input::placeholder {
  color: #ff4848;
}

.error-message {
  font-size: 1.2rem !important;
  font-weight: 400;
  text-align: center;
  display: inline-block;
  text-transform: none;
  letter-spacing: 1.2px;
  padding-left: 0.4rem;
  opacity: 0;
  transition: all 0.3s;
}

.input-error .error-message {
  opacity: 1;
}


.signup-box *:focus {
  outline: none;
  box-shadow: 0 0 0 0.2rem rgba(8, 127, 91, 0.8);
  transition: all 0.3s;
}

.input-error *:focus {
  box-shadow: none;
}

.call-to-signup {
  font-size: 1.2rem;
  margin-top: 2.8rem;
  display: flex;
  font-weight: 500;
  gap: 1.2rem;
  justify-content: center;
}

.call-to-signup p {
  color: #999;
}

.call-to-signup span {
  font-weight: 600;
  cursor: pointer;
}

