<section class="section-signup">
  <div class="container">
    <div class="signup-box">
      <div class="signup-text-box">
        <h2 class="signup-header">Welcome</h2>
        <form (ngSubmit)="register()" class="signup-form">
          <div class="signup-input-container">
            <label for="firstName">Firstname</label>
            <input [(ngModel)]="userRegister.firstName" id="firstName" name="firstName" placeholder="Max" type="text">
          </div>
          <div class="signup-input-container">
            <label for="lastName">Lastname</label>
            <input [(ngModel)]="userRegister.lastName" id="lastName" name="lastName"
                   placeholder="Mustermann" type="text">
          </div>
          <div class="signup-input-container">
            <label for="email">E-Mail</label>
            <input [(ngModel)]="userRegister.email" id="email" name="email" placeholder="max.mustermann@example.com"
                   type="email">
          </div>
          <div class="signup-input-container">
            <label for="password">Password</label>
            <input [(ngModel)]="userRegister.password" id="password" name="password" placeholder="Enter your password"
                   type="password">
          </div>
          <button class="btn btn--big btn-signup" type="submit">Sign Up</button>
        </form>
        <div class="call-to-signup">
          <p>Already have an account?</p><span routerLink="/login">Sign In here</span>
        </div>
      </div>
      <div
        aria-label="chair"
        class="signup-img-box"
        role="img"
      ></div>
    </div>
  </div>
</section>
