
.shopping-cart-list-item {
  border-radius: 1.2rem;
  background-color: #fff;
  padding: 2.4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: rgba(99, 99, 99, 0.2) 0 0.2rem 0.8rem 0;
}

.image-container {
  width: 10rem;
  height: 10rem;
  display: flex;
  justify-content: center;
}

.shopping-cart-list-item-img {
  width: 100%;
  height: 100%;
  border-radius: 0.6rem;
  object-fit: cover;
}

.shopping-cart-quantity-container {
  background-color: #EFEFEF;
  display: flex;
  width: 12rem;
  align-items: center;
  justify-content: space-between;
  border-radius: 0.6rem;
  padding: 0.6rem;
}

.shopping-cart-summary {
  align-self: flex-start;
}

.icon-remove, .icon-add {
  cursor: pointer;
  transition: all 0.3s;
}

.icon-add:hover, .icon-remove:hover {
  color: #087f5b;
}

.product-container {
  display: flex;
  width: max-content;
  align-items: center;
  gap: 3.2rem;
  cursor: pointer;
}

.text-container {
  width: 32rem;
}

.text-container p {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.btn-remove {
  border: none;
  border-radius: 0.6rem;
  padding: 0.6rem;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.icon-close {
  transition: all 0.3s;
}

.btn-remove:hover .icon-close {
  color: #AA0000;
}





