<section class="section-login">
  <div class="container">
    <div class="login-box">
      <div class="login-text-box">
        <h2 class="login-header">Welcome</h2>
        <form (ngSubmit)="login()" action="" class="login-form">
          <div [ngClass]="{'input-error': !emailIsValid && formSubmitted}" class="login-input-container">
            <label for="email">Email</label>
            <input (keyup)="emailValidator()" [(ngModel)]="user.email" id="email" name="email"
                   placeholder="max.mustermann@example.com"
                   type="email">
            <span class="error-message">Invalid email format</span>
          </div>
          <div [ngClass]="{'input-error': !passwordIsValid && formSubmitted}" class="login-input-container">
            <label for="password">Password</label>
            <input (keyup)="passwordValidator()" [(ngModel)]="user.password" id="password" name="password"
                   placeholder="Enter your password"
                   type="password">
            <span class="error-message">Password must be at least 6 digits</span>
          </div>

          <button class="btn btn--big btn-login" type="submit">Sign In</button>
        </form>
        <span [ngClass]="{'invalid-input': !inputIsValid && formSubmitted}" class="error-message">{{errorMessage}}
          !</span>
        <div class="call-to-login">
          <p>Don't have an account?</p><span routerLink="/signup">Sign up here</span>
        </div>
      </div>
      <div
        aria-label="chair"
        class="login-img-box"
        role="img"
      ></div>
    </div>
  </div>
</section>
