.section-login {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.3s;
}

.login-box {
  display: grid;
  grid-template-columns: 3fr 2fr;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.15);
  border-radius: 12px;
  overflow: hidden;
}

.login-text-box {
  padding: 6.8rem 10rem;
  color: #087f5b;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.login-header {
  font-size: 3.2rem;
  text-align: center;
  margin-bottom: 4.8rem;
}

.login-img-box {
  background-image: linear-gradient(
    to right bottom,
    rgba(8, 127, 91, 0.35),
    rgba(195, 142, 103, 0.35)
  ),
  url("https://images.unsplash.com/photo-1585845786337-2b2b17c55fb0?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Nzl8fGNoYWlyfGVufDB8fDB8fHww&auto=format&fit=crop&w=500&q=60");
  background-size: cover;
  background-position: center;
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
}

.login-form label {
  display: block;
  font-size: 1.6rem;
  font-weight: 500;
  margin-bottom: 1.2rem;
}

.login-form input {
  width: 100%;
  padding: 1.2rem;
  font-size: 1.8rem;
  font-family: inherit;
  color: inherit;
  border: none;
  background-color: rgba(8, 127, 91, 0.05);
  border-radius: 0.9rem;
}

.login-form input::placeholder {
  color: #aaa;
}

.login-box *:focus {
  outline: none;
  box-shadow: 0 0 0 0.3rem rgba(8, 127, 91, 0.8);
  transition: all 0.3s;
}

.btn-login {
  margin-top: 3rem;
}

.call-to-login {
  font-size: 1.2rem;
  margin-top: 2.8rem;
  display: flex;
  font-weight: 500;
  gap: 1.2rem;
  justify-content: center;
}

.call-to-login p {
  color: #999;
}

.call-to-login span {
  font-weight: 600;
  cursor: pointer;
}
