<header class="header">
  <a href="#">
    <img
      class="logo"
      alt="Comfizone Logo"
      src="assets/img/comfizone-logo.jpeg"
    />
  </a>
  <nav class="main-nav">
    <ul class="main-nav-list">
      <li><a class="main-nav-link" href="#how">Home</a></li>
      <li><a class="main-nav-link" href="#meals">Products</a></li>
      <li>
        <a class="main-nav-link nav-cart" href="#cta"
          ><mat-icon aria-label="cart-icon" class="cart-icon"
            >shopping_cart</mat-icon
          >
          <span class="cart-text">Cart</span>
          <span class="cart-item-amount">23</span>
        </a>
      </li>
    </ul>
  </nav>
</header>
