.product-details-section {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.product-details-container {
  width: 111.8rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 10rem;
}

.product-price {
  margin-bottom: 3.2rem;
}

.product-text-box {
  align-self: center;
}

.product-description {
  margin-bottom: 3.2rem;
  font-size: 1.8rem;
  line-height: 1.7;
}

.product-name {
  margin-bottom: 1.6rem;
  font-size: 3.6rem;
  line-height: 1.1;
  letter-spacing: -0.1rem;
}

h2 {
  margin-bottom: 4.8rem;
  font-size: 3.6rem;
  letter-spacing: -0.05rem;
}

.chair-icon {
  stroke: #087f5b;
  width: 2.4rem;
  height: 2.4rem;
}

img {
  border-radius: 1.2rem;
  height: 60%;
  width: 100%;
  object-fit: cover;
  object-position: center;
  align-self: center;
}

.product-property-container {
  display: grid;
  grid-template-columns: 40% 60%;
  margin-bottom: 4.8rem;
  row-gap: 1.8rem;
}

.product-property {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.btn-add-to-cart {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.2rem;
  width: max-content;
}
